header{
  background-color: aliceblue;
  font-size: 45px;
  text-align: center;
  margin: 15px;
}
img {
  width: 350px;
  height: 350px;
  margin-left: 75px;
  margin-top: 75px;
  
}
#a{
  border-style: groove;
  border-color: black;

}
p{
  float: left;
}