header{
  background-color: aliceblue;
  font-size: 45px;
  text-align: center;
  margin: 15px;
}
img {
  width: 150px;
  
  margin-left: 75px;
  margin-top: 75px;
  
  border-radius: 35%;
  
  
}
main {
  display: inline-block;
}
#a{
  border-style: groove;
  border-color: black;

}
p{
  float: left;
}
footer{
  width: 600px;
  height: 300px;
}
body {
  background-color: dimgray;
}
ul{
  background-color: rgb(231, 221, 218);
  float: left;
  color: brown;

}